div.modal(tabindex="-1", role="dialog", ng-controller="AddSpreadModalCtrl")
  div.modal-dialog
    div.modal-content
      form(name="spread")
        div.modal-header(ng-show="title")
          button.close(type="button", ng-click="$hide()") &times;
          h4.modal-title(ng-bind="title")
        div.modal-body
          p
            label id:&nbsp;
            button.btn.btn-default(ng-model="id", bs-options="sheet.id as sheet.title for sheet in spreadInfo", bs-select)
        div.modal-footer
          button.btn.btn-default(type="button", ng-click="$hide()") cancel
          button.btn.btn-primary(type="button", ng-click="addSpread()", ng-disabled="spread.$invalid") add
