doctype html
html(ng-app="spread2jsonApp")
  head
    title spread2json sample
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="bower_components/angular-motion/dist/angular-motion.css")
    link(rel="stylesheet", href="stylesheets/style.css")

    script(src="bower_components/angular/angular.js")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-strap/dist/angular-strap.js")
    script(src="bower_components/angular-strap/dist/angular-strap.tpl.js")

    script(src="javascripts/app.js")
    script(src="javascripts/contents.js")
  body
    block content
